.pagination {
  display: inline-block;
  border: 1px solid #CDCDCD;
  border-radius: 3px; 
  text-align: center;
 }
 
 .navigation-pagination{text-align: center;}

.pagination a {
  display: block;
  float: left;
  width: 20px;
  height: 20px;
  outline: none;
  border-right: 1px solid #CDCDCD;
  border-left: 1px solid #CDCDCD;
  color: #555555;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  font-family: Times, 'Times New Roman', Georgia, Palatino;
  /* ATTN: need a better font stack */
  background-color: #f3f3f3;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f3f3f3), color-stop(100%, lightgrey));
  background-image: -webkit-linear-gradient(#f3f3f3, lightgrey);
  background-image: linear-gradient(#f3f3f3, lightgrey); }
  .pagination a:hover, .pagination a:focus, .pagination a:active {
    background-color: #cecece;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e4e4e4), color-stop(100%, #cecece));
    background-image: -webkit-linear-gradient(#e4e4e4, #cecece);
    background-image: linear-gradient(#e4e4e4, #cecece); }
  .pagination a.disabled, .pagination a.disabled:hover, .pagination a.disabled:focus, .pagination a.disabled:active {
    background-color: #f3f3f3;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f3f3f3), color-stop(100%, lightgrey));
    background-image: -webkit-linear-gradient(#f3f3f3, lightgrey);
    background-image: linear-gradient(#f3f3f3, lightgrey);
    color: #A8A8A8;
    cursor: default; }

.pagination a:first-child {
  border: none;
  border-radius: 2px 0 0 2px; }

.pagination a:last-child {
  border: none;
  border-radius: 0 2px 2px 0; }

.pagination input {
  float: left;
  margin: 0;
  padding: 0;
  width: 120px;
  height: 20px;
  outline: none;
  border: none;
  vertical-align: middle;
  text-align: center; }

/* gigantic class for demo purposes */
.gigantic.pagination {
  margin: 30px 0; }

.gigantic.pagination a {
  height: 40px;
  width: 40px;
  font-size: 40px;
  line-height: 35px; }

.gigantic.pagination input {
  width: auto;
  height: 40px;
  font-size: 20px; }

/* log element for demo purposes */
.log {
  display: none;
  background-color: #EDEDED;
  border: 1px solid #B4B4B4;
  height: 300px;
  width: 524px;
  overflow: auto;
  margin-left: 0;
  list-style: none;
  padding: 10px; }
  .log li {
    margin-top: 0;
    margin-bottom: 5px; }
    
 
 @media (max-width: 414px){
 	.gigantic.pagination input {  width: 58%; }
 }
 
  @media (max-width: 412px){
 	.gigantic.pagination input {  width: 57.8%; }
 }
 
 @media (max-width: 375px){
 	.gigantic.pagination input {  width: 53.3%; }
 }

  @media (max-width: 360px){
 	.gigantic.pagination input {  width: 51.1%; }
 }
 @media (max-width: 320px){
 	.gigantic.pagination input {  width: 44.4%; }
 }
 
 

@media (max-width: 471px){
 	.pagination-public-input {  width:60.8% !important; }
 }
 
 @media (max-width: 470px){
 	.pagination-public-input {  width:60.7% !important; }
 }
 
  @media (max-width: 466px){
 	.pagination-public-input {  width: 60.3% !important; }
 }

@media (max-width: 414px){
 	.pagination-public-input {  width: 54.2% !important; }
 }

 @media (max-width: 414px){
 	.pagination-public-input {  width: 54.2% !important; }
 }
 @media (max-width: 412px){
 	.pagination-public-input {  width: 57.8%; }
 }
 @media (max-width: 375px){
 	.pagination-public-input {  width: 48.8% !important; }
 }
 
 @media (max-width: 360px){
 	.pagination-public-input {  width: 46.3% !important; font-size: 15px !important;}
 }
 
 @media (max-width: 320px){
 	.pagination-public-input { width: 37.8% !important; font-size: 13px !important;}
 }
 
 
 
 
 
 
 