<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>Sistema PRAVE - Cadastro</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!--<script type="text/javascript">-->
        <!--function fMasc(objeto,mascara) {-->
            <!--obj=objeto-->
            <!--masc=mascara-->
            <!--setTimeout("fMascEx()",1)-->
        <!--}-->
        <!--function fMascEx() {-->
            <!--obj.value=masc(obj.value)-->
        <!--}-->
        <!--function mCNPJ(cnpj){-->
            <!--cnpj=cnpj.replace(/\D/g,"")-->
            <!--cnpj=cnpj.replace(/^(\d{2})(\d)/,"$1.$2")-->
            <!--cnpj=cnpj.replace(/^(\d{2})\.(\d{3})(\d)/,"$1.$2.$3")-->
            <!--cnpj=cnpj.replace(/\.(\d{3})(\d)/,".$1/$2")-->
            <!--cnpj=cnpj.replace(/(\d{4})(\d)/,"$1-$2")-->
            <!--return cnpj-->
        <!--}-->
    <!--</script>-->
</head>
<body>
<div class="panel panel-default" style="margin: 10px">
    <div class="panel-body container" align="center">
        <br/>
        <br/>
        <img src="../../assets/img/logo.png" th:src="@{assets/img/logo.png}" height="70" width="140" />
        <br/>
        <br/>
        <h4>Cadastre sua empresa. É rápido e prático.</h4>
        <form class="form-horizontal" th:action="@{/cadastro}" th:object="${company}" method="POST" style="margin: 20px">
            <div class="form-group" align="left">
                <fieldset>
                    <div class="form-group row">
                        <div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
                            <div th:each="detailedError : ${#fields.detailedErrors()}">
                                <span th:text="${detailedError.message}"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12" th:classappend="${#fields.hasErrors('name')}? 'has-error'">
                            <label>Nome</label>
                            <input type="text" class="form-control input-sm" th:field="*{name}" autofocus="autofocus" maxlength="27"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12" th:classappend="${#fields.hasErrors('document')}? 'has-error'">
                            <label>CNPJ</label>
                            <input type="text" class="form-control input-sm" th:field="*{document}" maxlength="14"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12" th:classappend="${#fields.hasErrors('address')}? 'has-error'">
                            <label>Endereço</label>
                            <input type="text" class="form-control input-sm" th:field="*{address}" maxlength="255"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12" th:classappend="${#fields.hasErrors('email')}? 'has-error'">
                            <label>E-Mail</label>
                            <input type="text" class="form-control input-sm" th:field="*{email}" maxlength="80"/>
                        </div>
                    </div>
                    <div class="form-group aw-required">
                        <div class="col-md-12" th:classappend="${#fields.hasErrors('login')}? 'has-error'">
                            <label>Login da empresa</label>
                            <input th:field="*{login}" class="form-control" maxlength="30" />
                        </div>
                    </div>
                    <div class="form-group aw-required">
                        <div class="col-md-12" th:classappend="${#fields.hasErrors('password')}? 'has-error'">
                            <label>Senha do login (máximo de 8 caracteres)</label>
                            <input type="password" th:field="*{password}" class="form-control" maxlength="8" />
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="form-group row">
                <button type="submit" class="btn btn-sm btn-primary">Salvar</button>
                <a th:href="@{/}" class="btn btn-sm btn-default">Cancelar</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>