<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>PRAVE</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../../assets/css/index.css">
</head>
<body>
    <div align="center" layout:fragment="content">
        <div class="container">
            <h2 style="color: #0d6aad">Painel de controle</h2>
        </div>
        <div sec:authorize="hasRole('GESTOR')" class="container">
            <a th:href="${(#mvc.url('DC#employee')).build()}" class="btn btn-primary" style="width:80%;">
                <span><i class="fa fa-user-plus fa-fw"></i>  Adicionar ou gerenciar funcionários</span>
            </a></br></br>
        </div>
        <div sec:authorize="hasRole('GERENTE')" class="container">
            <a th:href="${(#mvc.url('DC#report')).build()}" class="btn btn-primary" style="width:80%;">
                <span><i class="fa fa-print fa-fw"></i>  Gerar relatório gerencial</span>
            </a></br></br>
        </div>
        <div sec:authorize="hasRole('ESTOQUE')" class="container">
            <a th:href="${(#mvc.url('DC#stock')).build()}" class="btn btn-primary" style="width:80%;">
                <span><i class="fa fa-tags fa-fw"></i>  Gerir estoque</span>
            </a></br></br>
        </div>
        <div sec:authorize="hasRole('VENDEDOR')" class="container">
            <a th:href="${(#mvc.url('DC#sell')).build()}" class="btn btn-primary" style="width:80%;">
                <span><i class="fa fa-cart-plus fa-fw"></i>  Iniciar uma venda</span>
            </a></br></br>
        </div>
        <div sec:authorize="hasRole('GERENTE E VENDEDOR')" class="container">
            <a th:href="${(#mvc.url('DC#report')).build()}" class="btn btn-primary" style="width:80%;">
                <span><i class="fa fa-print fa-fw"></i>  Gerar relatório gerencial</span>
            </a></br></br>
            <a th:href="${(#mvc.url('DC#sell')).build()}" class="btn btn-primary" style="width:80%;">
                <span><i class="fa fa-cart-plus fa-fw"></i>  Iniciar uma venda</span>
            </a></br></br>
        </div>
    </div>
</body>
</html>