<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" >
<head>
    <meta charset="UTF-8"/>
    <title>PRAVE</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../../assets/css/index.css">
</head>
<body>
    <div align="center" layout:fragment="content">
        <div class="container">
            <h2 style="color: #0d6aad">Gerenciamento de funcionários</h2>
        </div>
        <div class="container"></br>
            <a th:href="${(#mvc.url('EC#addEmployee')).build()}" class="btn btn-primary" style="width:80%;">
                <span><i class="fa fa-user-plus fa-fw"></i>  Adicionar novo funcionário</span>
            </a></br></br>

            <div class="panel panel-primary" style="margin: 10px">
                <div class="panel-heading">
                    <h4 style="color: #fff">Lista de funcionários</h4>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th>Nome</th>
                                <th>E-mail</th>
                                <th>Documento</th>
                                <th>Função</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="employee : ${allEmployees}">
                                <td th:text="${employee.name}"></td>
                                <td th:text="${employee.email}"></td>
                                <td th:text="${employee.document}"></td>
                                <td th:text="${employee.accessGroups[0].name}"></td>
                                <td th:text="${employee.accessStatus.description}"></td>
                                <td>
                                    <div class="btn-group pull-right">
                                        <a class="btn btn-sm btn-primary" th:href="@{/dashboard/employee/edit/{id}(id=${employee.id})}" >Editar</a>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <a class="btn btn-default" th:href="@{/dashboard/}">Voltar</a>
        </div>
    </div>
</body>
</html>