<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" >
<head>
    <meta charset="UTF-8"/>
    <title>PRAVE</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../../assets/css/index.css">
</head>
<body>
<div align="center" layout:fragment="content">
    <div class="container">
        <h2 style="color: #0d6aad">Gerenciamento de funcionários</h2>
    </div>
    <div class="container"></br>
        <form class="form-horizontal" th:action="@{/dashboard/employee/add-employee}" th:object="${employee}" method="POST" style="margin: 20px">
            <div class="form-group" align="left">
                <fieldset>
                    <div class="form-group row">
                        <div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
                            <div th:each="detailedError : ${#fields.detailedErrors()}">
                                <span th:text="${detailedError.message}"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12" th:classappend="${#fields.hasErrors('name')}? 'has-error'">
                            <label>Nome</label>
                            <input type="text" class="form-control input-sm" th:field="*{name}" autofocus="autofocus" maxlength="27"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12" th:classappend="${#fields.hasErrors('document')}? 'has-error'">
                            <label>CPF</label>
                            <input type="text" class="form-control input-sm" th:field="*{document}" maxlength="14"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12" th:classappend="${#fields.hasErrors('email')}? 'has-error'">
                            <label>E-Mail</label>
                            <input type="text" class="form-control input-sm" th:field="*{email}" maxlength="80"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <label>Função</label>
                            <select class="form-control" th:field="*{accessGroups}">
                                <option th:each="accessGroup : ${allGroups}" th:text="${accessGroup.name}" th:value="${{accessGroup}}">1</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group aw-required">
                        <div class="col-md-12" th:classappend="${#fields.hasErrors('login')}? 'has-error'">
                            <label>Login da empresa</label>
                            <input th:field="*{login}" class="form-control" maxlength="30" />
                        </div>
                    </div>
                    <div class="form-group aw-required">
                        <div class="col-md-12" th:classappend="${#fields.hasErrors('password')}? 'has-error'">
                            <label>Senha do login (máximo de 8 caracteres)</label>
                            <input type="password" th:field="*{password}" class="form-control" maxlength="8" />
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="form-group row">
                <button type="submit" class="btn btn-sm btn-primary">Salvar</button>
                <a th:href="@{/dashboard/employee}" class="btn btn-sm btn-default">Cancelar</a>
            </div>
        </form>
    </div>
</body>
</html>