<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">
    <head>
        <meta charset="UTF-8"/>
        <title>PRAVE - Bem vindo</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
    <body>
        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4" align="center">
            <br/>
            <br/>
            <img src="../../assets/img/logo.png" th:src="@{assets/img/logo.png}" height="70" width="140"/>
            <br/>
            <br/>
            <a class="btn btn-primary" th:href="@{/cadastro}">Cadastro</a>
            <a class="btn btn-default" th:href="@{/login}">Login</a>
        </div>
    </body>
</html>