<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Prave</title>

    <!-- jQuery -->
    <script th:src="@{/assets/js/jquery-3.2.1.min.js}" type="text/javascript"></script>

    <!-- Bootstrap Core CSS -->
    <link th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link th:href="@{/assets/vendor/metisMenu/metisMenu.min.css}"
          rel="stylesheet">

    <!-- Custom CSS -->
    <link th:href="@{/assets/dist/css/sb-admin-2.css}" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link th:href="@{/assets/vendor/morrisjs/morris.css}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link th:href="@{/assets/vendor/font-awesome/css/font-awesome.min.css}"
          rel="stylesheet" type="text/css">

    <link th:href="@{/assets/css/bootstrap-datepicker.css}" rel="stylesheet">

    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/sweetalert.css}">

</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-dark bg-primary navbar-static-top" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/dashboard}"><img src="../../assets/img/logo-white.png" height="40" width="80"/></a>
            </div>
            <ul class="navbar navbar-right">
                <form method="post" class="navbar-form" th:action="@{/logout}">
                    <span>Olá <label sec:authentication="name"></label>! </span>
                    <button type="submit" class="btn btn-small btn-danger" style="margin-right: 20px; margin-top: 5px">
                        <span><i class="fa fa-sign-out fa-fw"></i> Sair</span>
                    </button>
                </form>
            </ul>
        </nav>

        <div layout:fragment="content"></div>

        <script th:src="@{/assets/vendor/jquery/jquery.js}"></script>

        <!-- Bootstrap Core JavaScript -->
        <script th:src="@{/assets/vendor/bootstrap/js/bootstrap.min.js}"></script>

        <!-- Bootstrap Core JavaScript -->
        <script th:src="@{/assets/js/bootstrap-confirmation.js}"></script>

        <!-- Metis Menu Plugin JavaScript -->
        <script th:src="@{/assets/vendor/metisMenu/metisMenu.min.js}"></script>

        <!-- Morris Charts JavaScript -->
        <script th:src="@{/assets/vendor/raphael/raphael.min.js}"></script>
        <script th:src="@{/assets/vendor/morrisjs/morris.min.js}"></script>
        <script th:src="@{/assets/data/morris-data.js}"></script>

        <!-- Custom Theme JavaScript -->
        <script th:src="@{/assets/dist/js/sb-admin-2.js}"></script>

        <script th:src="@{/assets/js/jquery.jqpagination.js}"></script>

        <script th:src="@{/assets/js/jquery.maskedinput.js}"></script>

        <script th:src="@{/assets/js/bootstrap-datepicker.js}"></script>

        <script th:src="@{/assets/js/bootstrap-datepicker.pt-BR.min.js}"></script>

        <script th:src="@{/assets/js/sweetalert.min.js}"></script>

        <script>
            $('[data-toggle=confirmation]').confirmation({
                rootSelector : '[data-toggle=confirmation]',
                btnOkLabel : 'Sim',
                btnCancelLabel : 'Não'
                // other options
            });
        </script>
    </div>
</body>
</html>