<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>Sistema PRAVE - Login</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<div class="panel panel-default" style="margin: 10px">
    <div class="panel-body container" align="center">
        <br/>
        <br/>
        <img src="../../assets/img/logo.png" th:src="@{assets/img/logo.png}" height="70" width="140" />
        <br/>
        <br/>
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
                <div th:if="${param.error}">
                    <div class="alert alert-danger">Usuário e/ou senha inválidos!</div>
                </div>
                <form th:action="@{/login}" method="post">
                    <div class="form-group">
                        <input name="username" class="form-control login-font" placeholder="Login" autofocus="autofocus" />
                    </div>

                    <div class="form-group">
                        <input type="password" name="password" class="form-control" placeholder="Senha"/>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary btn-block login-font">Entrar</button></br>
                        <a th:href="@{/}" class="btn btn-sm btn-default">Voltar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>