<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8">
</head>
<body>
<div class="navbar sidebar" role="navigation" th:fragment="menu">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu" sec:authorize="hasRole('GESTOR')">
            <li><a th:href="@{relatorio}"><i class="glyphicon glyphicon-print"></i> Relatório gerencial</a></li>
            <li><a><i class="glyphicon glyphicon-tag"></i> Gerenciar Estoque</a></li>
            <li><a><i class="glyphicon glyphicon-shopping-cart"></i> Iniciar uma venda</a></li>
            <li><a><i class="glyphicon glyphicon-plus"></i> Adicionar funcionário</a></li>
        </ul>

        <!--<ul class="nav" sec:authorize="hasRole('GERENTE')">-->
            <!--<li><a th:href="">Gerar relatório</a></li>-->
            <!--<li><a th:href="">Estoque</a></li>-->
            <!--<li><a th:href="">Iniciar venda</a></li>-->
        <!--</ul>-->

        <!--<ul class="nav" sec:authorize="hasRole('ESTOQUE')">-->
            <!--<li><a th:href="">Estoque</a></li>-->
        <!--</ul>-->

        <!--<ul class="nav" sec:authorize="hasRole('VENDEDOR')">-->
            <!--<li><a th:href="">Iniciar venda</a></li>-->
        <!--</ul>-->
    </div>
</div>