<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" >
<head>
    <meta charset="UTF-8"/>
    <title>PRAVE</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../../assets/css/index.css">
</head>
<body>
<div align="center" layout:fragment="content">
    <div class="container">
        <h2 style="color: #0d6aad">Controle de estoque - Cadastrar novos produtos</h2>
    </div>
    <div class="container"></br>
        <form class="form-horizontal" th:action="@{/dashboard/stock/edit/} + ${product.id}" th:object="${product}" method="POST" style="margin: 20px">
            <div class="form-group" align="left">
                <fieldset>
                    <div class="form-group row">
                        <div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
                            <div th:each="detailedError : ${#fields.detailedErrors()}">
                                <span th:text="${detailedError.message}"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12" th:classappend="${#fields.hasErrors('name')}? 'has-error'">
                            <label>Nome</label>
                            <input type="text" class="form-control input-sm" th:field="*{name}" autofocus="autofocus" maxlength="30"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <label>Descrição</label>
                            <input type="text" class="form-control input-sm" th:field="*{description}" maxlength="25"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <label>Cor</label>
                            <input type="text" class="form-control input-sm" th:field="*{color}" maxlength="15"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <label>Modelo</label>
                            <input type="text" class="form-control input-sm" th:field="*{model}" maxlength="20"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <label>Temperatura</label>
                            <input type="text" class="form-control input-sm" th:field="*{temperature}" maxlength="10"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <label>Peso</label>
                            <input type="text" class="form-control input-sm" th:field="*{weight}" maxlength="10"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <label>Métrica</label>
                            <select th:field="*{weightType}">
                                <option th:each="weightType : ${T(br.com.prave.enums.WeightType).values()}" th:value="${{weightType}}" th:text="${{weightType.description}}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <label>Armazenamento</label>
                            <input type="text" class="form-control input-sm" th:field="*{storage}" maxlength="20"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <label>Tamanho</label>
                            <input type="text" class="form-control input-sm" th:field="*{size}" maxlength="10"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <label>Fabricante</label>
                            <input type="text" class="form-control input-sm" th:field="*{manufacturer}" maxlength="30"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <label>Qtde. Mínima</label>
                            <input type="text" class="form-control input-sm" th:field="*{minimum}" maxlength="5"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12" th:classappend="${#fields.hasErrors('price')}? 'has-error'">
                            <label>Preço de venda</label>
                            <input type="text" class="form-control input-sm" th:field="*{price}" maxlength="5"/>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-12">
                            <label>Status do produto</label>
                            <select class="form-control" th:field="*{productStatus}">
                                <option th:each="productStat : ${T(br.com.prave.enums.ProductStatus).values()}" th:value="${{productStat}}" th:text="${{productStat.description}}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <input type="hidden" class="form-control input-sm" th:field="*{quantity}" maxlength="5"/>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="form-group row">
                <button type="submit" class="btn btn-sm btn-primary">Salvar</button>
                <a th:href="@{/dashboard/stock}" class="btn btn-sm btn-default">Voltar</a>
            </div>
        </form>
    </div>
</body>
</html>