<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" >
<head>
    <meta charset="UTF-8"/>
    <title>PRAVE</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../../assets/css/index.css">
</head>
<body>
<div align="center" layout:fragment="content">
    <div class="container">
        <h2 style="color: #0d6aad">Controle de Estoque - Fornecedores</h2>
    </div>
    <div class="container"></br>
        <a th:href="${(#mvc.url('PPC#addProvider')).build()}" class="btn btn-primary" style="width:33%;">
            <span><i class="fa fa-tags fa-fw"></i>  Novo fornecedor</span>
        </a></br></br>

        <div class="panel panel-primary" style="margin: 10px">
            <div class="panel-heading">
                <h4 style="color: #fff">Lista de fornecedores cadastrados</h4>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th>Nome</th>
                            <th>E-mail</th>
                            <th>Endereço</th>
                            <th>Documento</th>
                            <th>Telefone</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="provider : ${allProviders}">
                            <td th:text="${provider.name}"></td>
                            <td th:text="${provider.email}"></td>
                            <td th:text="${provider.address}"></td>
                            <td th:text="${provider.document}"></td>
                            <td th:text="${provider.phoneNumber}"></td>
                            <td th:text="${provider.providerStatus.description}"></td>
                            <td>
                                <div class="btn-group pull-right">
                                    <a class="btn btn-sm btn-primary" th:href="@{/dashboard/stock/provider/edit/{id}(id=${provider.id})}" >Editar</a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <a class="btn btn-default" th:href="@{/dashboard/stock}">Voltar</a>
    </div>
</div>
</body>
</html>