<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" >
<head>
    <meta charset="UTF-8"/>
    <title>PRAVE</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../../assets/css/index.css">
</head>
<body>
<div align="center" layout:fragment="content">
    <div class="container">
        <h2 style="color: #0d6aad">Controle de estoque - Cadastrar novo fornecedor</h2>
    </div>
    <div class="container"></br>
        <form class="form-horizontal" th:action="@{/dashboard/stock/provider/add-provider}" th:object="${provider}" method="POST" style="margin: 20px">
            <div class="form-group" align="left">
                <fieldset>
                    <div class="form-group row">
                        <div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
                            <div th:each="detailedError : ${#fields.detailedErrors()}">
                                <span th:text="${detailedError.message}"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12" th:classappend="${#fields.hasErrors('name')}? 'has-error'">
                            <label>Nome</label>
                            <input type="text" class="form-control input-sm" th:field="*{name}" autofocus="autofocus" maxlength="30"/>
                        </div>
                    </div>
                    <div class="form-group row" th:classappend="${#fields.hasErrors('email')}? 'has-error'">
                        <div class="col-md-12">
                            <label>E-mail</label>
                            <input type="text" class="form-control input-sm" th:field="*{email}" maxlength="25"/>
                        </div>
                    </div>
                    <div class="form-group row" th:classappend="${#fields.hasErrors('document')}? 'has-error'">
                        <div class="col-md-12">
                            <label>CNPJ</label>
                            <input type="text" class="form-control input-sm" th:field="*{document}" maxlength="20"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <label>Endereço</label>
                            <input type="text" class="form-control input-sm" th:field="*{address}" maxlength="15"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <label>Telefone</label>
                            <input type="text" class="form-control input-sm" th:field="*{phoneNumber}" maxlength="10"/>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="form-group row">
                <button type="submit" class="btn btn-sm btn-primary">Salvar</button>
                <a th:href="@{/dashboard/stock/provider}" class="btn btn-sm btn-default">Voltar</a>
            </div>
        </form>
    </div>
</body>
</html>