<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" >
<head>
    <meta charset="UTF-8"/>
    <title>PRAVE</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../../assets/css/index.css">
</head>
<body>
<div align="center" layout:fragment="content">
    <div class="container">
        <h2 style="color: #0d6aad">Controle de estoque - Cadastrar novo fornecedor</h2>
    </div>
    <div class="container"></br>
        <form class="form-horizontal" th:action="@{/dashboard/stock/purchase-order/new-order}" th:object="${buyOrder}" method="POST" style="margin: 20px">
            <div class="form-group" align="left">
                <fieldset>
                    <div class="form-group row">
                        <div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
                            <div th:each="detailedError : ${#fields.detailedErrors()}">
                                <span th:text="${detailedError.message}"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <label>Selecione o produto:</label>
                            <select class="form-control" th:field="*{product}">
                                <option th:each="product : ${allProducts}" th:text="${product.name}" th:value="${{product}}">1</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <label>Selecione o fornecedor:</label>
                            <select class="form-control" th:field="*{provider}">
                                <option th:each="provider : ${allProviders}" th:text="${provider.name}" th:value="${{provider}}">1</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row" >
                        <div class="col-md-12">
                            <label>Quantidade</label>
                            <input type="text" class="form-control input-sm" th:field="*{quantity}" maxlength="25"></input>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="form-group row">
                <button type="submit" class="btn btn-sm btn-primary">Salvar</button>
                <a th:href="@{/dashboard/stock/purchase-order}" class="btn btn-sm btn-default">Voltar</a>
            </div>
        </form>
    </div>
</body>
</html>