<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" >
<head>
    <meta charset="UTF-8"/>
    <title>PRAVE</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../../assets/css/index.css">

</head>
<body>
<div align="center" layout:fragment="content">
    <div class="container">
        <h2 style="color: #0d6aad">Controle de Estoque</h2>
    </div>
    <div class="container"></br>
        <a th:href="${(#mvc.url('PUC#placeOrder')).build()}" class="btn btn-primary" style="width:33%;">
            <span><i class="fa fa-shopping-cart fa-fw"></i>  Nova ordem de compra</span>
        </a></br></br>

        <div class="panel panel-primary" style="margin: 10px">
            <div class="panel-heading">
                <h4 style="color: #fff">Ordens de compra para aprovação</h4>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Fornecedor</th>
                            <th>Quantidade</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="order : ${allOrders}">
                            <td th:text="${order.product.name}"></td>
                            <td th:text="${order.provider.name}"></td>
                            <td th:text="${order.quantity}"></td>
                            <td>
                            <form th:action="@{${(#mvc.url('PUC#acceptOrder')).build()}}" th:object="${buyOrder}" method="POST">
                                <td>
                                    <div>
                                        <input type="hidden" name="id" th:value="${order.id}"></input>
                                        <input type="hidden" name="quantity" th:value="${order.quantity}"></input>
                                        <input type="hidden" name="product" th:value="${order.product.id}"></input>
                                        <button type="submit" class="btn btn-sm btn-success">Aceitar</button>
                                    </div>
                                </td>
                            </form>
                            <form th:action="@{${(#mvc.url('PUC#refuseOrder')).build()}}" th:object="${buyOrder}" method="POST">
                                <td>
                                    <div>
                                        <input type="hidden" name="id" th:value="${order.id}"></input>
                                        <button type="submit" class="btn btn-sm btn-danger">Descartar</button>
                                    </div>
                                </td>
                            </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <a class="btn btn-default" th:href="@{/dashboard/stock}">Voltar</a>
    </div>
</div>
</body>
</html>