<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Sistema Prave</title>
</head>
<body>
    <div align="center" layout:fragment="content">
        <div class="container">
            <h2>Impressão de relatórios</h2>
        </div>
        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
            <div style="margin: auto">
                <p>Selecione o modelo de relatório a ser impresso:</p>
                <a class="btn btn-primary btn-block" th:href="${(#mvc.url('RC#generateEmployeesReport')).build()}">Lista de funcionários da empresa</a>
                <a class="btn btn-primary btn-block" th:href="${(#mvc.url('RC#generateProviderReport')).build()}">Lista de fornecedores ativos</a>
                <a class="btn btn-primary btn-block" th:href="${(#mvc.url('RC#generateBuyOrderReport')).build()}">Ordens de compra realizadas</a>
            </div>
            </br></br>
            <a class="btn btn-default" th:href="@{/dashboard/}">Voltar</a>
        </div>
    </div>
</body>
</html>