<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" >
<head>
    <meta charset="UTF-8"/>
    <title>PRAVE</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../../assets/css/index.css">

</head>
<body>
<div align="center" layout:fragment="content">
    <div class="container">
        <h2 style="color: #0d6aad">Iniciar uma venda</h2>
    </div>
    <div class="container"></br>
        <div class="panel panel-primary" style="margin: 10px">
            <div class="panel-heading">
                <h4 style="color: #fff">Lista de produtos em estoque</h4>
            </div>
            <div class="panel-body">

                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Fabricante</th>
                            <th>Quantidade</th>
                            <th>Preço</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="shoppingProduct : ${allCart}">
                            <form th:action="@{${(#mvc.url('SCC#updateCart')).build()}}" th:object="${product}" method="POST">
                                <input type="hidden" name="id" th:value="${shoppingProduct.product.id}"></input>
                                <input type="hidden" name="name" th:value="${shoppingProduct.product.name}"></input>
                                <td th:text="${shoppingProduct.product.name}"></td>

                                <input type="hidden"  name="manufacturer" th:value="${shoppingProduct.product.manufacturer}"></input>
                                <td th:text="${shoppingProduct.product.manufacturer}"></td>

                                <td>
                                    <input type="number" name="quantity" th:value="${shoppingProduct.product.quantity}"></input>
                                </td>

                                <input type="hidden" name="price" th:value="${shoppingProduct.product.price}"></input>
                                <td th:text="${shoppingProduct.subTotal}"></td>
                                <td>
                                    <div class="btn-group pull-right">
                                        <a class="btn btn-sm btn-danger" th:href="${#mvc.url('SCC#deleteFromCart').build()} + ${shoppingProduct.product.id}" >Deletar</a>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group row">
                                        <button type="submit" class="btn btn-sm btn-primary">Atualizar quantidade</button>
                                    </div>
                                </td>
                            </form>
                        </tr>
                        </tbody>
                    </table>
                </div>
                </br></br>
                <a th:href="${(#mvc.url('SCC#generateOrder')).build()}" class="btn btn-success" style="width:33%;">
                    <span><i class="fa fa-clipboard fa-fw gerarOrdem"></i>  Gerar ordem</span>
                </a>
                <a class="btn btn-default" th:href="@{/dashboard/sell}">Continuar comprando</a>
            </div>
        </div>

    </div>
</div>

</body>
</html>