<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" >
<head>
    <meta charset="UTF-8"/>
    <title>PRAVE</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../../assets/css/index.css">

</head>
<body>
<div align="center" layout:fragment="content">
    <div class="container">
        <h2 style="color: #0d6aad">Iniciar uma venda</h2>
    </div>
    <div class="container"></br>
        <div class="panel panel-primary" style="margin: 10px">
            <div class="panel-heading">
                <h4 style="color: #fff">Lista de produtos em estoque</h4>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Descrição</th>
                            <th>Cor</th>
                            <th>Modelo</th>
                            <th>Peso</th>
                            <th>Métrica</th>
                            <th>Tamanho</th>
                            <th>Fabricante</th>
                            <th>Quantidade</th>
                            <th>Preço</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="product : ${allProducts}">
                            <td th:text="${product.name}"></td>
                            <td th:text="${product.description}"></td>
                            <td th:text="${product.color}"></td>
                            <td th:text="${product.model}"></td>
                            <td th:text="${product.weight}"></td>
                            <td th:text="${product.weightType}"></td>
                            <td th:text="${product.size}"></td>
                            <td th:text="${product.manufacturer}"></td>
                            <td th:text="${product.quantity}"></td>
                            <td th:text="${product.price}"></td>
                            <td>
                                <form th:action="@{${(#mvc.url('SCC#addToCart')).build()}}" th:object="${product}" method="POST">
                                    <input type="hidden" name="id" th:value="${product.id}"></input>
                                    <input type="hidden" name="name" th:value="${product.name}"></input>
                                    <input type="hidden"  name="manufacturer" th:value="${product.manufacturer}"></input>
                                    <input type="hidden"  name="quantity" th:value="${product.quantity}"></input>
                                    <input type="hidden" name="price" th:value="${product.price}"></input>
                                    <div class="form-group row">
                                        <button type="submit" class="btn btn-sm btn-success">Adicionar</button>
                                    </div>
                                </form>

                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                </br></br>
                <!--<a th:href="${(#mvc.url('PPC#providerList')).build()}" class="btn btn-primary" style="width:33%;">-->
                    <!--<span><i class="fa fa-envelope fa-fw"></i>  Avisar cliente de produto em falta</span>-->
                <!--</a>-->
            </div>
        </div>
        <a class="btn btn-default" th:href="@{/dashboard/}">Voltar</a>
    </div>
</div>
</body>
</html>